/coverage
/node_modules
/public/.tmb
/public/hot
/public/storage
/storage/*.key
/storage/installed
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

.DS_Store
docker-compose.yml
._*.png
.*.cache
dist.tar
dist-*.tar
/dist
/playbook/recipe/downloaded
